{% extends '::base.html.twig' %}
{% form_theme form 'FcpSiteBundle:Form:fields.html.twig' %}

{% block body -%}
{{ parent() }}
<div class="row">
    <div class="seven columns">
        <div class="medium default btn icon-left entypo icon-left-open">
            <a href="{{ path('admin_competition') }}">Terug</a>
        </div>
        <h3>Competitie bewerken</h3>

        <form novalidate action="{{ path('admin_competition_edit', { 'id': id }) }}" method="post" {{ form_enctype(form) }}>
            {{ form_widget(form) }}
            <p>
                <div class="medium info btn">
                    <input type="submit" />
                </div>
            </p>
        </form>
    </div>
    <div class="push_one four columns nomobile">
        <h3>Alle competities</h3>
    </div>
</div>
{% endblock %}
{% block javascripts %}
{{ parent() }}
<script>
    $('select#fcp_sitebundle_competitiontype_clubs').css('width','200px');
    $('select#fcp_sitebundle_competitiontype_clubs').css('height','200px');
</script>
{% endblock %}